
   
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <title>Sanjeevni</title>
    <link rel="stylesheet" href="/public/css/main_style.css">
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
    {{{body}}}
</body>


</html>