<link href="../public/main_styles.css" rel="stylesheet" type="text/css" />
<main>
    <article>
        <div class="aboutus-container">
            <h1>{{title}}</h1>
            <div class="aboutus-child">
                <h2> Mission </h2>
                <h3>HASSLE-FREE APPOINTMENT AND MEDICINE ORDER BOOKING</h3> 
                        <h3>A WIDE RANGE OF SPECIALISTS AND CHEMISTS TO CHOOSE FROM</h3>
                        <h3>MINIMUM REQUIRED PERSONAL CONTACT</h3> 
                        <h3>EASE OF ACCESS TO SERVICES WHICH MIGHT OTHERWISE BE HARD TO FIND</h3>
                        <h3>MITIGATION OF THE COLLOQIUAL WAITING QUEUE</h3>
            </div>
                <div class="aboutus-child">
                <h2> Vision </h2>
                <h3>IN A COUNTRY WHERE THE IMMEDIATE REACTION OF THE GENEREAL PUBLIC TOWARDS ANY MEDICAL NEEDS IS TO SWEEP UNDER THE 
                    RUG AND HOPE FOR THE BEST, WE WISH TO MAKE MEDICAL SERVICES AN EASY TO ACCESS FEATURE.</h3>
                <h3> THE ADVANCEMENTS IN TECHNOLOGY ARE FOR THE SAKE OF BETTERMENT OF HUMAN LIFE AND SANJEEVNI IS A MEANS TO A SAFER 
                    LIFESTYLE IN THE FAST-PACED INTERNET REALITY THAT THE CURRENT WORLD LIVES IN</h3>
            </div>
        </div>
    </article>
</main>

