<link href="../public/main_styles.css" rel="stylesheet" type="text/css" />
<main>
    <article>
        <div class="aboutus-container">
        <h1>{{title}}</h1>
        <p>For immediate assistance you can call on 111-111-1111</p>
        <p>Reach out to us via email on Sanjeevni@stevens.edu</p>
    </article>
</main>

