<div>
    <h1>Welcome to Sanjeevni</h1>
    <p>Where we care about your health.</p>
    <br><br>
    <button type="button" onclick= "window.location.href='signup'" name="signup" id="signup">Sign-Up</button>
    <button type="button" onclick= "window.location.href='login'" name="login" id="login">Login</button>
</div>