<link href="../public/main_styles.css" rel="stylesheet" type="text/css" />
<main>
    <article>
       <h2> Your appointment was succesfully booked with Dr.{{doc.First_Name}}&nbsp;{{doc.Last_Name}}</h2>
    </article>
    <a href="../">Back to Feed</a>
</main>